.desc{
    height: 8rem;
    width: 100%;
    background-color: chartreuse;
    display: flex;
    flex-direction: column;
}
.desc>h3{
    height: 1rem;
}
.desc>textarea{
    height: 4rem;
    border-radius: 11px;
}