.desc{
    height: 8rem;
    /* width: 100%; */
    background-color: #191816;
    display: flex;
    flex-direction: column;
}
.desc>h3{
    height: 1rem;
}
.desc>textarea{
    height: 4rem;
    border-radius: 11px;
    background-color: #3b3b3b;
}
