.header{
    background-color: 191816;
    height:3rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
@media only screen and (max-width: 652px) {
    .header {
      width: 90%;
    }
  }